<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/bill.png')}}" type="image/x-icon">
    <title>{{ title }}</title>
</head>
<body>
<header>
        <div class="head">
            <div class="text-top">Система CopperBill </div>
            <div class="text-top" id="user-name"></div>
<!--            <select name="monter1" id="monter-main">-->
<!--                <option value="111"></option>-->
<!--                <option value="222">Анатолий Чепига</option>-->
<!--                <option value="333">Руслан Боширов</option>-->
<!--                <option value="444">Александр Петров</option>-->
<!--            </select>-->
        </div>
</header>
<div class="container">
    <div class="left">
        <a class="left-text" href="https://bill.unetcom.ru/">Главная</a> <br>
        <a class="left-text" href="https://bill.unetcom.ru/">Сообщения</a> <br>
        <a class="left-text" href="https://bill.unetcom.ru/?mod=usr">Пользователи</a> <br>
        <a class="left-text" href="https://bill.unetcom.ru/">Тарифы</a> <br>
        <a class="left-text" href="https://bill.unetcom.ru/">Отчеты</a> <br>
        <a class="left-text" href="https://bill.unetcom.ru/">Бухгалтерия</a> <br>
        <a class="left-text" href="https://bill.unetcom.ru/">Сети</a> <br>
        <a class="left-text" href="https://bill.unetcom.ru/">Администраторы</a> <br>
        <a class="left-text" href="https://bill.unetcom.ru/">SMS-Центр</a> <br>
        <a class="left-text" href="https://bill.unetcom.ru/">Обьекты</a> <br>
        <a class="left-text" href="https://bill.unetcom.ru/?mod=equip">Оборудование</a> <br>
        <a class="left-text" href="https://bill.unetcom.ru/?mod=tick&act=summary">Обращения</a> <br>
        <!-- <a class="left-text" href="https://bill.unetcom.ru/">Наблюдение</a> <br> -->
        <!-- <a class="left-text" href="https://bill.unetcom.ru/">Для меня</a> <br> -->
        <a class="left-text" href="https://bill.unetcom.ru/?mod=troubles">Аварии</a> <br>
        <a class="left-text" href="https://bill.unetcom.ru/?mod=zayav&act=active">Заявки</a> <br>
        <a class="left-text" href="/tv">ТВ приставки</a> <br>
        <a class="left-text" href="/router">Роутеры</a> <br>
        <a class="left-text" href="/logout">Выйти (ТВ-биллинг)</a>
    <div class="vl"></div>
</div>

    {% block content -%}

    {% endblock -%}

</div>


<footer>
        <div class="text-down">Система Copper Billing v.0.9 (c) 2022 Sergey Kuropyatnikov </div>
        <div class="text-down" id="date"></div>
</footer>
</body>
<!--    <script src="{{ url_for('static', filename='js/script.js') }}"></script>-->
</html>