{% extends "base.html" %}

{% block content %}
{{ super() }}

<div class="container">
    <div class="center">
            <div class="container-added">
                <table class="table-main">
                    <tr class="table-color">
                        <th class="added-rout" class="table-th">Добавление ТВ приставки</th>
                    </tr>
                </table>
                <div class="text add">Монтажник:</div>
                <select class="add" name="monter1" id="monter">
                    <option value="001"></option>
                    <option value="002">Волосевич Дмитрий</option>
                    <option value="003">Комиссаров Александр</option>
                    <option value="004">Маснык Игорь</option>
                    <option value="005">Куропятников Сергей</option>
                    <option value="006">Павлов Юра</option>
                    <option value="007">Соловьев Александр</option>
                    <option value="008">Черных Анатолий</option>
                    <option value="009">Шестаков Владимир</option>
                    <option value="010">неизвестно</option>
                </select>
                <div class="text add">Статус:</div>
                <select class="add" name="status" id="status">
                    <option value="111"></option>
                    <option value="222">В офисе</option>
                    <option value="333">На руках</option>
                    <option value="444">Установлен</option>
                </select>
                <div class="text add">Mac:</div>
                <input type="text" id="mac" size="10px" value="00319273fff8">
                <div class="text add">Комментарий:</div>
                <input type="text" id="comment" size="20px">
                <button id="add">Добавить ТВ приставку</button>
            </div>
            <table class="table-main" id="tab1">

            </table>
            <table class="table-main" id="tab2">

            </table>
            <table class="table-main" id="tab3">

            </table>
            <table class="table-main" id="tab4">

            </table>
    </div>
</div>


    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

{% endblock %}
