<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/bill.png')}}" type="image/x-icon">
    <title>{{ title }}</title>
</head>

<body>
<header>
        <div class="head">
            <div class="text-top">Система CopperBill</div>
<!--            <select name="monter1" id="monter-main">-->
<!--                <option value="111"></option>-->
<!--                <option value="222">Анатолий Чепига</option>-->
<!--                <option value="333">Руслан Боширов</option>-->
<!--                <option value="444">Александр Петров</option>-->
<!--            </select>-->
        </div>
</header>

<div class="container">
    <form action="/regi" method="post" class="form-contact container-other">
        <p><label>Пароль приглашение: </label> <input type="text" name="logpsw" value="" requied />
        <p><label>Логин: </label> <input type="text" name="login" value="" requied />
        <p><label>Фамилия: </label> <input type="text" name="name" value="" requied />
        <p><label>Пароль: </label> <input type="password" name="psw" value="" requied />
        <p><label>Повтор пароля: </label> <input type="password" name="psw2" value="" requied />
        <p><input type="submit" value="Регистрация" />
    </form>
</div>

<footer>
    <div class="text-down">Система Copper Billing v.0.7 (c) 2022 Sergey Kuropyatnikov </div>
    <div class="text-down" id="date"></div>
</footer>

</body>
<!--    <script src="{{ url_for('static', filename='js/script.js') }}"></script>-->
</html>